.catalog{   
     & .main__inner{
         
        flex-direction: row;
         & .catalog-items{
            flex-grow: 1;
           display: flex;
             flex-wrap: wrap;
             & .card__title{
                 font-size: 15px;
                 line-height: 18px;
                 letter-spacing: 0.025em;
             }
             & .content-part{
                 & .price{
                     position: absolute;
                     bottom: 39px;
                 }
             }
         }
         & .page-header{
           
             background: url('../img/catalog/woman-page-header.png') no-repeat center;
            
            
         }
    }
    @include desctop{
        & .card{
                 &:nth-last-child(-n+5){
                     margin-bottom: 0;
                 }
             }
    }
    @include tablet{
        & .card{
                 &:nth-last-child(-n+4){
                     margin-bottom: 0;
                 }
             }
    }
    @include mobile{
        & .card{
                 &:nth-last-child(-n+1){
                     margin-bottom: 0;
                 }
             }
    }
}